.Container {
    width: 170px;
    max-width: 170px;
    height: 225px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    transition: transform 0.4s ease-out, box-shadow 0.4s;
  }
  
  .Container::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    z-index: 20;
    transition: all 0.2s;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
  }
  
  .Container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    transition: all 0.3s ease-out;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
  }
  
  .Container:hover,
  .Container:focus {
    box-shadow: 0 13px 33px -7px rgba(241, 42, 42, 0.773);
    transform: translateY(-10px);
  }
  
  .Container:hover::before,
  .Container:focus::before,
  .Container:hover::after,
  .Container:focus::after {
    visibility: visible;
    opacity: 1;
  }
  
  .Container:hover .VoteContainer,
  .Container:hover .Bottom,
  .Container:focus .VoteContainer,
  .Container:focus .Bottom {
    opacity: 0;
    visibility: hidden;
  }
  
  .Bottom {
    background-color: rgba(240, 240, 240, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
  }
  
  .VoteContainer {
    position: absolute;
    top: 10px;
    right: 15px;
    font-style: italic;
    font-size: 15px;
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    transition: all 0.2s ease-out;
    font-weight: bold;
    color: #222222;
    z-index: 999;
  }
  .FavContainer {
    position: absolute;
    top: 10px;
    left: 15px;
    font-style: italic;
    font-size: 15px;
    /* background-color: rgba(240, 240, 240, 0.9); */
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 2px 5px;
    transition: all 0.2s ease-out;
    font-weight: bold;
    color: #222222;
    z-index: 999;
  }
  #FavIcon{
    color: purple;
  }
  
  .Title {
    margin: 0;
    font-size: 15px;
    color: #222;
  }
  